extends ../../_outer

block vars
    - var title_prefix = 'The Sleepy Mole'

block body
    body#storyPage.sleepy
    #container
      header#storyHeader
        h1#gingerWhaleText.ir The Ginger Whale
        nav
          ul
            li
              a#whale.ir(href='/') Ginger Whale
            li
              a#moreStoriesLink(href='/stories')
                span.backIcon
                | More stories
                span from Ginger Whale
      article#greebly.storyContent.page
        header
          img.icon(src='/images/sleepy-mole/icon_big.png', alt='The Sleepy Mole')
          h1 Sleepy Mole's Moving Day
          a.iStoreLink(href='http://itunes.apple.com/app/sleepy-moles-moving-day/id473172561?ls=1&mt=8')
            img(src='/images/btn_app_store.png', width='128', height='44', alt='Available in the app store')
        section.description
          p
            strong Can YOU help Sleepy Mole find a place to sleep?
          article.review
            blockquote
              | This is a must have bedtime tale.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.padgadget.com/2011/11/21/help-sleepy-mole-and-teddy-find-a-place-to-nap-in-sleepy-moles-moving-day/', target='_blank') PAD GADGET
          p
            | Sleepy Mole’s Moving Day is an interactive story about a mole that needs to find a new home. The fun part is children get to choose the 
            | path Sleepy Mole takes on his journey. There are eight homes to find, and sixteen animals to meet. So each time children read this story 
            | it’s a new adventure.
          p Features:
          ul
            li Interactive: 8 homes to find, 16 animals to meet, 100s of ways to read the story
            li Choose the journey: child controls the story navigation in up to 4 directions to nurture exploration and imagination
            li Animation: watch the mole dig between each scene
            li Narration: In English and Swedish 
            li Illustration: 28 illustrations from award-winning artist Melanie Matthews
            li Educational: learn about animals that live in underground burrows
            li Story: a great bedtime story about needing to find a place to sleep
            li Music: sleepy music plays throughout
            li Child-friendly: No external links or in-app purchases
            li Universal: works on iPads and iPhones
          p
            a(href='http://itunes.apple.com/app/sleepy-moles-moving-day/id473172561?ls=1&mt=8', target='_blank') Available now on the App Store
          footer
            nav#socialMenu
              //
                 FACEBOOK LIKE SETUP 
              #fb-root
              script
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              ul
                //
                   FACEBOOK LIKE 
                li.fb
                  .fb-like(data-href='http://is.gd/fldQ64', data-send='false', data-layout='button_count', data-width='90', data-show-faces='false', data-font='verdana')
                //
                   TWEET 
                li.tweet
                  a.twitter-share-button(href='https://twitter.com/share', data-url='http://is.gd/fldQ64', data-count='none', data-via='GingerWhaleApps') Tweet
                  script(type='text/javascript', src='//platform.twitter.com/widgets.js')
        section.media
          .videoContainer
            iframe(width='560', height='315', src='http://www.youtube.com/embed/2LfIOtzFPgo', frameborder='0', allowfullscreen='allowfullscreen')
          .thumbsList
            ul
              li
                a.lb_storyPics(href='/images/sleepy-mole/img_1.jpg', title='Sleepy Mole pic 1')
                  img(src='/images/sleepy-mole/th_1.png', alt='thumbnail 1')
              li
                a.lb_storyPics(href='/images/sleepy-mole/img_2.jpg', title='Sleepy Mole pic 2')
                  img(src='/images/sleepy-mole/th_2.png', alt='thumbnail 2')
              li
                a.lb_storyPics(href='/images/sleepy-mole/img_3.jpg', title='Sleepy Mole pic 3')
                  img(src='/images/sleepy-mole/th_3.png', alt='thumbnail 3')
              li.last
                a.lb_storyPics(href='/images/sleepy-mole/img_4.jpg', title='Sleepy Mole pic 4')
                  img(src='/images/sleepy-mole/th_4.png', alt='thumbnail 4')
        section.reviews
          header
            h3 What others are saying about The Sleepy Mole's Moving Day
          article.review.item1
            blockquote
                | ...10 out of 10!
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.ipadfamily.com.au/ipad-app-reviews/sleepy-moles-moving-day', target='_blank') IPAD FAMILY
          article.review.item2
            blockquote
                | Your child will love that they control the story and that it’s never the same twice...
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://appsforipads.net/entertainment-apps/kids-entertainment-apps/childrens-ipad-books/sleepy-moles-moving-day', target='_blank') APPS FOR IPADS
          article.review.item3
            blockquote
                | A top notch digital book that kids will want to read over and over!
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://digital-storytime.com/review.php?id=455', target='_blank') DIGITAL STORYTIME
          article.review.item4
            blockquote
                | ...impeccable production.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.apps4kids.net/2011/11/18/it-is-sleepy-moles-moving-day/', target='_blank') APPS 4 KIDS
          article.review.item5
            blockquote
                | ...the story is different every time... a good pre-bedtime book-app when winding your kids down for the night.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.appsplayground.com/apps/2011/11/21/sleepy-moles-moving-day-goes-underground-for-ipad/', target='_blank') APPS PLAYGROUND
          article.review.item6
            blockquote
                | ...a perfect read-with-your-child bedtime experience.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://ipadappreviewsby.gillrobins.com/?p=922', target='_blank') GILL ROBINS
          article.review.item7
            blockquote
              | A maze meets an ebook...
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://childrenstech.com/blog/archives/5774', target='_blank') CHILDREN'S TECH REVIEW
          article.review.item8
            blockquote
                | ...It’s a beautiful ebook, the story is wonderful, the educational opportunities are great... and just a brilliant idea for an ebook.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.theiphoneappreview.com/2011/11/sleepy-mole%E2%80%99s-moving-day-ipad-app-review/', target='_blank') THE IPHONE APP REVIEW
          article.review.item9
            blockquote
                | I found the graphics to be adorable and the story concept very clever.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.theiphonemom.com/sleepy-moles-moving-day', target='_blank') THE IPHONE MOM
          article.review.item10
            blockquote
                | With its cute characters, simple interactivity and meandering story line, kids will surely love to come back to Sleepy Mole’s Moving Day again and again.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://iheartthisapp.com/sleepy-moles-moving-day-cute-characters-and-meandering-story-line/', target='_blank') I HEART THIS APP
          article.review.item11
            blockquote
                | ...one of our favourite apps...
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://capptivatedkids.wordpress.com/2012/11/29/sleepy-moles-moving-day/', target='_blank') CAPPTIVATED KIDS
          article.review.item12
            blockquote
                | Vi är flera i redaktionen som har testat den här bokappen tillsammans med våra barn i åldrarna tre till fem år och de tycker den är spännande.
                span.quoteOpen
                span.quoteClose
            header
                a(href='http://www.pappasappar.se/den-somniga-mullvadens-flyttdag/', target='_blank') PAPPAS APPAR
        footer#storyFooter
