meta(name='description', content='Ginger Whale interactive stories nurture exploration and imagination by allowing young readers to shape each story, making it fun for children to learn to read.')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name='author', content='Ginger Whale')
link(href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mountains+of+Christmas', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='/styles/style.css')
// build:js(app) /scripts/vendor/modernizr.js
script(src='/bower_components/modernizr/modernizr.js')
// endbuild