extends ../../_outer

block vars
    - var title_prefix = 'The Greebley Greebley'

block body
    body#storyPage.greebly
    #container
      header#storyHeader
        h1#gingerWhaleText.ir The Ginger Whale
        nav
          ul
            li
              a#whale.ir(href='/') Ginger Whale
            li
              a#moreStoriesLink(href='/stories')
                span.backIcon
                | More stories
                span from Ginger Whale
      article#greebly.storyContent.page
        header
          img.icon(src='/images/the-greebley/icon_big.png', alt='The Greebley Greebley')
          h1 The Greebley Greebley
          a.iStoreLink(href='http://itunes.apple.com/app/the-greebley-greebley/id468556660?mt=8', target='_blank')
            img(src='/images/btn_app_store.png', width='128', height='44', alt='Available in the app store')
        section.description
          p
            strong A monster story... where YOU make the monster.
          p
            | Create your own monster character in just a few taps and see it appear throughout the story. With up to 10,000 customized monsters to
            | choose from, there's sure to be a monster for every child. Best of all, you can read it again and again, choosing a different monster
            | each time.
          p
            | Whimsically illustrated by Timothy Molloy, The Greebley Greebley is a heartwarming story about accepting people (or monsters) who are
            | a little different.
          p Features:
          ul
            li customize the main character—up to 10,000 ways
            li activate sound effects in each scene
            li Music: "Le carnaval des animaux: Aquarium", composed by Camille Saint-Saëns
          p
            a(href='http://itunes.apple.com/app/the-greebley-greebley/id468556660?mt=8', target='_blank') Available now on the App Store
          footer
            nav#socialMenu
              //
                 FACEBOOK LIKE SETUP 
              #fb-root
              script
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              ul
                //
                   FACEBOOK LIKE 
                li.fb
                  .fb-like(data-href='http://is.gd/bHKf64', data-send='false', data-layout='button_count', data-width='90', data-show-faces='false', data-font='verdana')
                //
                   TWEET 
                li.tweet
                  a.twitter-share-button(href='https://twitter.com/share', data-url='http://is.gd/bHKf64', data-count='none', data-via='GingerWhaleApps') Tweet
                  script(type='text/javascript', src='//platform.twitter.com/widgets.js')
        section.media
          //
            <div class="videoOuter">
          .videoContainer
            iframe(width='560', height='315', src='http://www.youtube.com/embed/Tnjga8sufdE', frameborder='0', allowfullscreen='allowfullscreen')
          //
            </div>
          .thumbsList
            ul
              li
                a.lb_storyPics(href='/images/the-greebley/img_1.jpg', title='The Greebley Greebley Page 1')
                  img(src='/images/the-greebley/th_1.png', alt='The Greebley Greebley Page 1')
              li
                a.lb_storyPics(href='/images/the-greebley/img_2.jpg', title='The Greebley Greebley Page 3')
                  img(src='/images/the-greebley/th_2.png', alt='The Greebley Greebley Page 3')
              li
                a.lb_storyPics(href='/images/the-greebley/img_3.jpg', title='The Greebley Greebley Page 5')
                  img(src='/images/the-greebley/th_3.png', alt='The Greebley Greebley Page 5')
              li.last
                a.lb_storyPics(href='/images/the-greebley/img_4.jpg', title='The Greebley Greebley Page 6')
                  img(src='/images/the-greebley/th_4.png', alt='The Greebley Greebley Page 6')
        section.reviews
          header
            h3 What others are saying about The Greebley Greebley
          article.review.item1
            blockquote
              | ...an absolutely wonderful story to share with your children.  It gets them involved and teaches them a valuable lesson at the same time.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://appsforipads.net/entertainment-apps/kids-entertainment-apps/childrens-ipad-books/greebley-greebley-monster-star', target='_blank') Apps for iPads
          article.review.item2
            blockquote
              | ...your kids can design their own monster main character, so ugly that you have to admit, he's actually kind of cute.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://coolmomtech.com/2011/10/3_cool_ghoulish_halloween_apps.php', target='_blank') Cool Mom Tech
          article.review.item3
            blockquote
              | ...the story is never the same twice... Very cool, fun, interactive kids book...
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.youtube.com/watch?v=BhwlT_0HYxY', target='_blank') Crazy Mike's Apps
          article.review.item4
            blockquote
              | If you’re going to pick just one Halloween app, get The Greebley Greebley.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.cafemom.com/group/112449/forums/read/15246829/Spookalicious_Online_Activities_Apps', target='_blank') Café Mom
          article.review.item5
            blockquote
              | It’s whimsical, playful, and will delight your child... certainly earns our Halloween recommendation!
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.theiphoneappreview.com/2011/10/the-greebley-greebley-ipad-app-review/', target='_blank') The iPhone App Review
      footer#storyFooter

      include ../../_includes/site/foot_scripts
