extends ../../_outer

block vars
    - var title_prefix = 'The Greebley Greebley'

block body
    body#storyPage.greebly
    #container
      header#storyHeader
        h1#gingerWhaleText.ir The Ginger Whale
        nav
          ul
            li
              a#whale.ir(href='/') Ginger Whale
            li
              a#moreStoriesLink(href='/stories')
                span.backIcon
                | More stories
                span from Ginger Whale
      article#greebly.storyContent.page
        header
          img.icon(src='/images/the-greebley/icon_big.png', alt='The Greebley Greebley')
          h1 The Greebley Greebley
          a.iStoreLink(href='http://itunes.apple.com/app/the-greebley-greebley/id468556660?mt=8', target='_blank')
            img(src='/images/btn_app_store.png', width='128', height='44', alt='Available in the app store')
        section.description
          p
            strong A monster story... where YOU make the monster.
          p
            | This is an interactive story about accepting people (or monsters) who are a little different. The best part is children can 
            | customize the main character, with up to 10,000 variations possible. The character then appears throughout the story. This 
            | personalization allows children to be part of the story, nurtures imagination and makes re-reading fun.
          p Features:
          ul
            li Interactive: child customizes the main character, with up to 10,000 variations 
            li Sound effects: activate in each scene (more than 60 sounds) 
            li Moral: a heartwarming story about accepting people for who they are 
            li Narration: by Muriel Johnson 
            li Illustration: 25 original illustrations from award-winning artist Timothy Molloy 
            li Child-friendly: No external links or in-app purchases
            li Universal: works on iPads and iPhones
          p
            a(href='http://itunes.apple.com/app/the-greebley-greebley/id468556660?mt=8', target='_blank') Available now on the App Store
          footer
            nav#socialMenu
              //
                 FACEBOOK LIKE SETUP 
              #fb-root
              script
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              ul
                //
                   FACEBOOK LIKE 
                li.fb
                  .fb-like(data-href='http://is.gd/bHKf64', data-send='false', data-layout='button_count', data-width='90', data-show-faces='false', data-font='verdana')
                //
                   TWEET 
                li.tweet
                  a.twitter-share-button(href='https://twitter.com/share', data-url='http://is.gd/bHKf64', data-count='none', data-via='GingerWhaleApps') Tweet
                  script(type='text/javascript', src='//platform.twitter.com/widgets.js')
        section.media
          //
            <div class="videoOuter">
          .videoContainer
            iframe(width='560', height='315', src='http://www.youtube.com/embed/Tnjga8sufdE', frameborder='0', allowfullscreen='allowfullscreen')
          //
            </div>
          .thumbsList
            ul
              li
                a.lb_storyPics(href='/images/the-greebley/img_1.jpg', title='The Greebley Greebley Page 1')
                  img(src='/images/the-greebley/th_1.png', alt='The Greebley Greebley Page 1')
              li
                a.lb_storyPics(href='/images/the-greebley/img_2.jpg', title='The Greebley Greebley Page 3')
                  img(src='/images/the-greebley/th_2.png', alt='The Greebley Greebley Page 3')
              li
                a.lb_storyPics(href='/images/the-greebley/img_3.jpg', title='The Greebley Greebley Page 5')
                  img(src='/images/the-greebley/th_3.png', alt='The Greebley Greebley Page 5')
              li.last
                a.lb_storyPics(href='/images/the-greebley/img_4.jpg', title='The Greebley Greebley Page 6')
                  img(src='/images/the-greebley/th_4.png', alt='The Greebley Greebley Page 6')
        section.reviews
          header
            h3 What others are saying about The Greebley Greebley
          article.review.item1
            blockquote
              | ...a well-crafted monster story, perfect for year-round reading.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://digital-storytime.com/review.php?id=456', target='_blank') DIGITAL STORYTIME
          article.review.item2
            blockquote
              | ...one of the best digitized books for children we've ever seen...
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.theiphoneappreview.com/2011/10/the-greebley-greebley-ipad-app-review/', target='_blank') THE IPHONE APP REVIEW
          article.review.item3
            blockquote
              | ...the fact that you can create your own monster that appears the way you've created it throughout the pages, makes The Greebley Greebley a very special app.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.apps4kids.net/2011/10/28/the-fun-greebley-greebley/', target='_blank') APPS4KIDS
          article.review.item4
            blockquote
              | We like the idea of creativity like this in kids' apps, making stories active rather than passive for their young readers.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.appsplayground.com/apps/2011/11/09/the-greebley-greebley-lets-your-child-make-a-monster/', target='_blank') APPS PLAYGROUND
          article.review.item5
            blockquote
              | ...one of the most innovative iPad book applications I have seen-to-date.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://crazymikesapps.com/create-your-own-monster-and-story-with-the-greebley-greebly-ipad-app/', target='_blank') CRAZY MIKE'S APPS
          article.review.item6
            blockquote
              | ...this book will have kids returning to it over and over.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.persiancatpress.com/item/the-greebley-greebley.html', target='_blank') PERSIAN CAT PRESS
          article.review.item6
            blockquote
              | ...an absolutely wonderful story to share with your children. It gets them involved and teaches them a valuable lesson at the same time.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://appsforipads.net/entertainment-apps/kids-entertainment-apps/childrens-ipad-books/greebley-greebley-monster-star', target='_blank') APPS FOR IPADS
          article.review.item7
            blockquote
              | ...your kids can design their own monster main character, so ugly that you have to admit, he's actually kind of cute.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.coolmomtech.com/2011/10/3_cool_ghoulish_halloween_apps.php', target='_blank') COOL MOM TEC
          article.review.item8
            blockquote
              | If you're going to pick just one Halloween app, get The Greebley Greebley.
              span.quoteOpen
              span.quoteClose
            header
              a(href='http://www.cafemom.com/group/112449/forums/read/15246829/Spookalicious_Online_Activities_Apps', target='_blank') CAFÉ MOM  
      footer#storyFooter

