extends _outer

block vars

block body
  body#gingerWhale.home
    #container
      header#siteHeader
        h1
          a(href='/') Ginger Whale
        nav#mainMenu
          ul
              li
                  a.about(href='/about') About
              li
                  a.support(href='/support') Support
              li
                  a.support(href='/friends') We like
              li
                  a.stories(href='/featured-stories') Stories
        nav#socialMenu
          #fb-root
          script
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
          ul
            li.fb
              .fb-like(data-href='http://www.gingerwhale.com', data-send='false', data-layout='button_count', data-width='90', data-show-faces='false', data-font='verdana')
            li.tweet
              a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.gingerwhale.com', data-count='none', data-via='GingerWhaleApps') Tweet
              script(type='text/javascript', src='//platform.twitter.com/widgets.js')
      #main(role='main')
        .water_top.goHome
        #aboutPage.page.goHome.notShowing
          a#whale(href='/about')
          #gingerWhaleText.ir Ginger Whale
          .bubbles
          section.contentBubble
            block section_about
        #supportPage.page.goHome.notShowing
          a#diver(href='/support')
          .bubbles
          section.contentBubble
            block section_support
        #friendsPage.page.goHome.notShowing
          a#bottle(href='/friends')
          .bubbles
          section.contentBubble
            block section_friends
        #storiesPage.page.goHome.notShowing
          a#chest(href='/featured-stories')
          .bubbles
          section#story_content.contentBubble
            block section_featured_stories
          //- story sprites
          .foreground1.goHome
          .foreground2.goHome
          .castle.goHome
        //- other sprites
        .corner_left.goHome
        .corner_right.goHome
        .light1.goHome
        .light2.goHome
        .leaf1.goHome
      //- footer
      footer#siteFooter
        a.noPush(href='http://www.experiencebureau.com', target='_blank')
          | Website built by
          strong Experience Bureau
          | .