extends _outer

block vars

block body
  body#gingerWhale.home
    #container
      include _includes/site/header
      #main(role='main')
        .water_top.goHome
        #aboutPage.page.goHome.notShowing
          a#whale(href='/about')
          #gingerWhaleText.ir Ginger Whale
          .bubbles
          section.contentBubble
            block section_about
        #supportPage.page.goHome.notShowing
          a#diver(href='/support')
          .bubbles
          section.contentBubble
            block section_support
        #friendsPage.page.goHome.notShowing
          a#bottle(href='/friends')
          .bubbles
          section.contentBubble
            block section_friends
        #storiesPage.page.goHome.notShowing
          a#chest(href='/featured-stories')
          .bubbles
          section#story_content.contentBubble
            block section_featured_stories
          //- story sprites
          .foreground1.goHome
          .foreground2.goHome
          .castle.goHome
        //- other sprites
        .corner_left.goHome
        .corner_right.goHome
        .light1.goHome
        .light2.goHome
        .leaf1.goHome
      //- footer
      footer#siteFooter
        a.noPush(href='http://www.experiencebureau.com', target='_blank')
          | Website built by
          strong Experience Bureau
          | .