block vars
!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        - if (typeof(title_prefix) !== 'undefined'){
        title #{title_prefix} - Ginger Whale
        - } else {
        title Ginger Whale
        - }
        meta(name='description', content='Ginger Whale interactive stories nurture exploration and imagination by allowing young readers to shape each story, making it fun for children to learn to read.')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='author', content='Ginger Whale')
        link(href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mountains+of+Christmas', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/styles/style.css')
        // build:js(app) /scripts/vendor/modernizr.js
        script(src='/bower_components/modernizr/modernizr.js')
        // endbuild

    block body

    // build:js(app) /scripts/main.js
    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/underscore/underscore.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/bower_components/jquery-ui/ui/jquery.ui.core.js')
    script(src='/bower_components/jquery-ui/ui/jquery.ui.widget.js')
    script(src='/bower_components/jquery-ui/ui/jquery.ui.dialog.js')
    script(src='/bower_components/jquery.fitvids/jquery.fitvids.js')
    script(src='/scripts/init.js')
    script(src='/scripts/GW/application.js')
    script(src='/scripts/GW/home.js')
    script(src='/scripts/GW/AppRoutes.js')
    // endbuild
    
    script
        $(document).ready(function(){
        GW.application.load();
        });
    //
       Asynchronous Google Analytics snippet.
         mathiasbynens.be/notes/async-analytics-snippet 
    script
        var _gaq=[['_setAccount','UA-26130348-1'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    //
       Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started 
    //if lt IE 7 
      script(defer='defer', src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer='defer')
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
