extends ../_outer

block vars
    - var title_prefix = 'Stories'

block body
  body#storyPage.index
    #container
      header#storyHeader
        h1#gingerWhaleText.ir The Ginger Whale
        nav
          ul
            li
              a#whale.ir(href='/') Ginger Whale
      section#storyIndex.storyContent.page
        h2 The stories so far...
        ul#storiesList
          li
            a.iconLink(href='/stories/the-greebley')
              img(src='/images/the-greebley/icon.png', alt='The Greebley Greebley')
            h3
              a(href='/stories/the-greebley') The Greebley Greebley
            p A monster story... where YOU make the monster.
          li
            a.iconLink(href='/stories/sleepy-mole')
              img.icon(src='/images/sleepy-mole/icon.png', alt="Sleepy Mole's Moving Day")
            h3
              a(href='/stories/sleepy-mole') Sleepy Mole's Moving Day
            p Can YOU help Sleepy Mole find a place to sleep?
      footer#storyFooter
        small
          | Website concept and design © 2011 James Scanlon Pty. Ltd. This work is copyright. Apart from any use permitted under the Australian Copyright
          | Act 1968, no part may be reproduced by any process, nor may any other exclusive right be exercised, without the permission of James Scanlon Pty. Ltd. 2011.
          | A.C.N. 149 327 819. All Rights Reserved. Apple and iPad are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service
          | mark of Apple Inc.
