header
    h2 Ginger Whale interactive stories
    p
        | Teaching children to read is one of the greatest gifts a parent can give. Ginger Whale stories nurture exploration and imagination,
        | by allowing young readers to interact and shape each story. Making it fun for children to learn to read.
    p.twitter_follow
        a.noPush(href='http://www.twitter.com/GingerWhaleApps', target='_blank') Follow us on twitter
        a.twitter_link.noPush(href='http://www.twitter.com/GingerWhaleApps', target='_blank')
            img(src='http://twitter-badges.s3.amazonaws.com/t_small-a.png', alt='Follow Ginger Whale on Twitter')
footer
    a.closeButton.ir(href='/') Close
