header
    h2 Featured Stories
    ul#featuredStoriesList
        li
            a.noPush(href='/stories/the-mouse-who-lived-on-the-moon')
                img(src='/images/the-mouse-who-lived-on-the-moon/icon.png', alt='The Mouse Who Lived On The Moon')
                strong The Mouse Who Lived On The Moon
        li
            a.noPush(href='/stories/sleepy-mole')
                img(src='/images/sleepy-mole/icon.png', alt='Sleepy Mole\'s Moving Day')
                strong Sleepy Mole's Moving Day
        li.moreSoon
            a.noPush(href='/stories')
            | More stories...
footer
    a.closeButton.ir(href='/') Close
