header
    h2 We like:
    ul
        li
            a.noPush(href='http://appsforipads.net/', target='_blank') Apps for iPads
        li
            a.noPush(href='http://www.apps4kids.net/', target='_blank') Apps 4 Kids
        li
            a.noPush(href='http://www.cafemom.com/', target='_blank') Café Mom
        li
            a.noPush(href='http://coolmomtech.com/', target='_blank') Cool Mom Tech
        li
            a.noPush(href='http://digital-storytime.com/', target='_blank') Digital Storytime
        li
            a.noPush(href='http://www.theiphonemom.com/', target='_blank') The iPhone Mom
footer
    a.closeButton.ir(href='/') Close
