header
    h2 Support
    dl
        dt App support:
        dd
            a.noPush(href='mailto:support@gingerwhale.com') support@gingerwhale.com
        dt Media & general enquiries:
        dd
            a.noPush(href='mailto:info@gingerwhale.com') info@gingerwhale.com
        dt Creative:
        dd
            a.noPush(href='mailto:james@gingerwhale.com') james@gingerwhale.com
    footer
        a.closeButton.ir(href='/') Close
